[flake8]
max-line-length = 88
exclude =
    .git,
    __pycache__,
    venv,
    .pytest_cache,
    .idea,
    documentation

#Reportar activamente los errores de nomenclatura (Naming)
select = C,E,F,W,B,B9,N
